<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pizza modif</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Pizza</h1>
		<hr>
		<h2>Pizza modification</h2>

		<form action="#" th:action="@{/savePizza}" th:object="${pizza}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{nompizz}" class="form-control mb-4 col-4">
				
			<input type="text" th:field="*{description}" class="form-control mb-4 col-4">
				
			<input type="text" th:field="*{tarifpizz}" class="form-control mb-4 col-4">
				
			<button type="submit" class="btn btn-info col-2"> Modifier Pizza</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Retour a la liste</a>
	</div>
</body>
</html>